// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/site/blob/master/LICENSE
 */

// googleMaps
// stylesheet for the Google maps component

// componentGoogleMapsGeneral
// component pour le champ googleMaps dans le tableau général
@mixin componentGoogleMapsGeneral() {
    min-width: 250px;
    padding: 0;

    > .map-render {
        min-height: 100px;
        background-color: $gray;
    }
}

// componentGoogleMapsSpecific
// component pour le champ googleMaps du formulaire
@mixin componentGoogleMapsSpecific() {
    > textarea {
        height: 100px;
    }

    > .map-render {
        height: 200px;
        background-color: $gray;
        margin-bottom: 10px;
    }
}
