/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/site/blob/master/LICENSE
 */

// jsonForm
// stylesheet for the jsonForm component

// componentJsonFormSpecific
// component pour le champ jsonForm du formulaire
@mixin componentJsonFormSpecific() {
    @include componentAddRemoveSpecific();
    @include componentJsonModelSpecific();
    
    > .playground > .ele {
        .model-form-element {
            display: none;

            &.type {
                display: block;
            }

            &[data-visible='1'] {
                display: block;
            }
        }
    }
}

// componentJsonFormRelationSpecific
// mixin pour le champ jsonFormRelation dans le formulaire
@mixin componentJsonFormRelationSpecific() {
    @include componentJsonRelationSpecific();
}
