// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/site/blob/master/LICENSE
 */

// jsonForm
// stylesheet for the jsonForm component

// componentJsonFormSpecific
// component pour le champ jsonForm du formulaire
@mixin componentJsonFormSpecific() {
    @include componentAddRemoveSpecific();

    > .playground > .ele {
        &:not(:last-child) {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $lightGray;
        }

        .table {
            height: auto;
        }

        .label-cell {
            width: 150px;
            padding-right: 15px;
        }

        textarea {
            height: 75px;
        }

        .model-form-element {
            display: none;

            &.type {
                display: block;
            }

            &[data-visible='1'] {
                display: block;
                padding-top: 10px;
            }
        }
    }
}

// componentJsonFormRelationSpecific
// mixin pour le champ jsonFormRelation dans le formulaire
@mixin componentJsonFormRelationSpecific() {
    .relation-export {
        padding-top: 10px;
    }
}
