/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/site/blob/master/LICENSE
 */

// video
// stylesheet for the video component

// componentVideoGeneral
// component pour la cellule générale d'un vidéo
@mixin componentVideoGeneral() {
    min-width: 250px;
    min-height: 125px;
    padding: 0;
    
    > .empty-placeholder {
        padding: 8px 10px;
    }
}
