// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/site/blob/master/LICENSE
 */

// emailNewsletter
// stylesheet for the emailNewsletter component

// componentEmailNewsletterSpecific
// component pour le champ email newsletter du formulaire
@mixin componentEmailNewsletterSpecific() {
    > .subscribed {
        padding: 5px 0 0;
        font-size: 90%;

        > .value {
            font-weight: bold;
            margin-left: 5px;
        }
    }
}
