// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/site/blob/master/LICENSE
 */

// jsonForm
// stylesheet for the jsonForm component

// componentJsonFormSpecific
// component pour le champ jsonForm du formulaire
@mixin componentJsonFormSpecific() {
    > .playground > .ele {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $lightGray;
        
        &:last-child {
            margin-bottom: 10px;
            padding-bottom: 0;
            border-bottom: 0;
        }
        
        .table {
            height: auto;
        }

        label {
            font-size: 90%;
        }

        .label-cell {
            width: 125px;
            padding-right: 10px;
        }

        .label {
            margin-bottom: 10px;
        }

        .type {
            margin-bottom: 10px;
        }

        .description {
            margin-bottom: 10px;

            textarea {
                height: 50px;
            }
        }

        .required {
            .form-cell {
                label {
                    margin-left: 5px;
                }
            }
        }

        .choices {
            display: none;
            padding-top: 10px;

            &.visible {
                display: block;
            }

            textarea {
                height: 80px;
            }
        }
    }
}